body {
    margin: 0;
    text-align: center;
    font-family: 'Cormorant SC', serif;
   
}

.activity-img img {    
    object-fit: cover;
    height: 149px;
    width: 149px;
    border-radius: 100px;
}
    

.hero{
    background-image:url("images/hero3.avif");
    background-repeat: no-repeat;
    height: 600px;
    margin-top: none;
    background-size: cover;
    background-position: center;
    
}
h1, h2{
    
    background: #274c77;
    padding: 10px 20px;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: 600;    
    margin: 10px auto 10px auto;
}
h1{
    background-color: aqua;
}
.headers{
   display: flex;
   flex-direction: column;
   padding: 150px;
   

}

h3{
    margin: 0%;
    padding: 15px;
}
.places{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0%;
    margin: 0%;
    
    
}
.activity{
    background-color: #a3cef1;
    width: 100%;
    padding-bottom: 50px;
}
.activity-img{
width: 33%;
}
