html, body {
    width: 100%;
    margin: 0px;
    padding: 0;
    overflow-x: hidden;
}
body {
    margin: 0;
    text-align: center;
    font-family: 'Cormorant SC', serif;
   
}

img {
    width: 100px;
}
.hero{
    background-image:url("images/hero3.avif");
    background-repeat: no-repeat;
    height: 600px;
    margin-top: none;
    background-size: cover;
    background-position: center;
}
h1{
    background: #274c77;
    padding: 10px 20px;
    border-radius: 10px;
    color: whitesmoke;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;

}
h2{
    background: #6096ba;
    padding: 10px 20px;
    border-radius: 10px;
    color: whitesmoke;
    padding: 0%;
    margin: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h3{
    margin: 0%;
}
.activity{
    border-radius: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0%;
    margin: 0%;
}
.mid{
    background-color: #a3cef1;
    margin: 0px 225px 0px 225px;
    padding-bottom: 50px;
}